#image{
  width: 272px;
  height: 92px;
  margin: auto;
  display: block;
  padding-top: 200px;
  padding-left: 300px;

}
body{
  background-color: white;
  font-size: small;
  min-width: 720px;
  min-height: 480;
}
a {
  text-decoration: none;
  color: black;
}
ul{
  list-style-type: none;
  display: inline-block;
  float: left;
}
li{
  float: right;
  display: block;
  padding: 0 0 0 18px;
}
a:hover{footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 45px;
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	min-width: 720px;
}

.left-links, .right-links {
	position: relative;
	margin-top: 15px;
}
.left-links {
	float: left;
}

.right-links {
	float: right;
}

.left-links a, .right-links a {
	color: #666;
}

#last {
	padding-right: 15px;
}
  text-decoration: underline;
}
#signin {
	padding: 4px 9px 4px 9px;
	background-color: #4484F1;
  	border: 5px solid transparent;
	margin-top: -2px;
	color: #FFFFFF;
	border-radius: 3px;
	margin-top: -7px;
	margin-right:30px;
	font-weight:bold;
}
#apps {
	padding-top: -14px;
	padding-right: -5px;
	margin-top:-8px;
}
#search {
	padding: 3px 9px 3px 9px;
	height: 15px;
	width: 300px;
}
footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 45px;
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	min-width: 720px;
}

.left-links, .right-links {
	position: relative;
	margin-top: 15px;
}
.left-links {
	float: left;
}

.right-links {
	float: right;
}

.left-links a, .right-links a {
	color: #666;
}

#last {
	padding-right: 15px;
}
